body{
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.screen{
    width: 360px;
    height: 800;
    /* border: 1px solid #e0e0e0; */
    /* border-radius: 24px; */
    overflow: auto;

}

.icon-wrapper{
    display: flex;
    align-items: center;
}

.icon-wrapper img{
    width: 18px;
}

.icon-wrapper img.ba3{
    width: 16px;
}

.status-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #008069;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
}
.status-bar .text-wrap{
    font-size: 14px;
}

.status-bar-left,.status-bar-right {
    gap: 4px;
}

.whatsapp-ui header{
    background-color: #008069;
}

.whatsapp-ui .header-item-icon img{
    width: 24px;
}

.whatsapp-ui .header-item-icon.more img{
    height: 20px;
}

.whatsapp-ui .header-icons{
    gap: 20px;
}

.whatsapp-ui .header h3{
color: #fff;
font-size: 20px;
font-weight: 500;
}

.whatsapp-ui .header{
    padding: 12px 16px;
}

.whatsapp-ui  .tab {
    display: grid;
    grid-template-columns: 48px 1fr 1fr 1fr;
    position: relative;
    background-color: #008069;
    position: sticky;
    top: 45px;
    
}

.whatsapp-ui .tab-item{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.521);
    align-items: center;
    height: 48px;
    transition: color .3s linear;
    cursor: pointer;
}

.whatsapp-ui .tab-item svg path{
    fill: rgba(255, 255, 255, 0.507);
}

.whatsapp-ui .tab-item.is-active svg path{
    fill: rgba(255, 255, 255, 0.507);
}


.whatsapp-ui .tab-item.is-active{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255);
}

.whatsapp-ui .tab::after {
    content: "";
    height: 3px;
    width: 104px;
    left: 48px;
    background: white;
    position: absolute;
    bottom: 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.whatsapp-ui .tab.two::after {
    width: 104px;
    left: 48px;
}

.whatsapp-ui .tab.one::after {
    width: 48px;
    left: 0;
}

.whatsapp-ui .tab.three::after {
    width: 104px;
    left: 152px;
}

.whatsapp-ui .tab.four::after {
    width: 104px;
    left: 256px;
}

.chat-avatar-wrap img{
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
}

.chat-list-item{
    gap: 12px;
    cursor: pointer;
}

.chat-info-title{
    font-size: 15px;
    color: #131A20;
}

.chat-info-wrap p{
    font-size: 14px;
    color: #69767E;
}

.chat-info-wrap {
    width: fill-available;
    width: -webkit-fill-available;
}

.chat-list-item{
    padding: 12px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}

span.chat-list-timestamp{
    flex-direction: column;
    justify-content: flex-end;
    font-size: 11px;
    color: #69767E;
}

.chat-list-item-counter {
    height: 22px;
    width: 22px;
    min-width: 22px;
    border-radius: 50%;
    background-color: #26D367;
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: -1px;
    padding-right: 1.5px;
}

.chat-list-item.has-unread .chat-list-timestamp{
    color: #389C60;
}

.chat-info-excerpt p {
    font-size: 14px;
    color: #69767E;
    width: 252px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.chat-list-item.has-unread .chat-info-excerpt p{
    padding-right: 8px;
}

.double-check{
    width: 20px;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 2px;
}

.inline-chat-icon{
    vertical-align: middle;
    height: 20px;
    margin-bottom: 3px;
}
